<!DOCTYPE html>
<html class="full" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="../../images/favicon.ico">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link href="../../css/bootstrap.min.css" rel="stylesheet">
<link href="../../css/MainPlantilla.css" rel="stylesheet">
<title>Main</title>
<style>
.menuses {
	background-color: #337ab7;
}
</style>
</head>

<body>
	<div class="page-container">
		<div class="left-content">
			<div class="inner-content">
				<div class="header-section">
					<div class="top_bg">

						<div class="header_top">
							<div class="top_right">
								<ul>
									<li><p th:text="${usuarioActual}">USER</p></li>
									<li><a th:href="@{index}" th:text="#{home}"></a></li>
									<li><p th:text="#{contact}"></p></li>
								</ul>
							</div>
							<div class="top_left">
								<div id="loginContainer" class="login">
									<a href="/logout" class="sidebar-icon login" th:text="#{logout}"></a>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>

					</div>
					<div class="clearfix"></div>
				</div>
				<div class="header_bg">

					<div class="header">
						<div class="head-t"></div>
						<div></div>

						<div class="clearfix"></div>

						<div class="content">
							<h3 th:if="${usuarioActual}!=${'admin'}">SUS SALAS RESERVADAS:</h3>
							<h3 th:if="${usuarioActual}==${'admin'}">Bienvenido su ilustre administrador,<br>elija en el menú lateral lo que quiera hacer hoy...</h3>
							<ul th:if="${usuarioActual}!=${'admin'}" class="list-group" th:field="*{sala}">
									
									<li class="list-group-item list-group-item-secondary col-md-12 col-lg-12"
										th:each="reserva : ${misReservas}"><span
										class="col-md-10" th:text="${reserva.sala.nombreSala}"></span><span
										class="col-md-10" th:text="'Aforo: '+${reserva.sala.aforo}"></span><span
										class="col-md-10" th:text="${reserva.fechaInicio}"></span> <span
										class="col-md-10" th:text="${reserva.fechaFin}"></span> <a
										th:href="@{/delete/{identificador}(identificador=${reserva.idReserva})}"><button
												class="glyphicon glyphicon-trash col-md-1 btn-danger"
												type="submit" value="submit"></button></a></li>
								</ul>
								<ul th:if="${#lists.isEmpty(misReservas)} and ${usuarioActual}!=${'admin'}">
									<h2>¡NO HA REALIZADO NINGUNA RESERVA TODAVÍA!</h2>
								</ul>
							
							
							
							
						</div>
						<div class="footer">

							<div class="clearfix"></div>
							<p>© 2018 Salesianos Triana. All Rights Reserved</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="sidebar-menu">
			<header>
				<div>
					<a th:href="@{index}"><img class="logo"
						src="../../images/Logo.png"></a>
				</div>
			</header>
			<div style="border-top: 1px ridge rgba(255, 255, 255, 0.15)"></div>
			<div class="menu">
				<ul id="menu">


					<li th:if="${usuarioActual}!=${'admin'}"><a
						th:href="@{../elegirSala}"><i class="lnr lnr-layers"></i> <span>Reservar sala</span> </a></li>
					<li th:if="${usuarioActual}==${'admin'}"><a
						th:href="@{admin/RegistroSala}"><i class="lnr lnr-layers"></i>
							<span>Agregar sala</span> </a></li>
					<li th:if="${usuarioActual}==${'admin'}"><a
						th:href="@{admin/salas}"><i class="lnr lnr-layers"></i> <span>Salas</span>
					</a></li>
					<li th:if="${usuarioActual}==${'admin'}"><a
						th:href="@{verificarUsuarios}"><i class="lnr lnr-layers"></i>
							<span>Validar usuarios</span> </a></li>

				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

</body>
</html>